@import url('https://fonts.googleapis.com/css?family=Roboto:400,500');

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 18px
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.AppMain {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 240px;
  height: 270px;
  background-color: gainsboro;
  border: 1px solid black;
  border-radius: 15px;
  box-shadow: 5px 4px gray;
}

.GameOver {
  position: absolute;
  top: 40px;
  width: 220px;
  height: 220px;
}

.scoreBoard {
  padding: 5px;
  width: 240px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.scoreBoard .reset {
  width: 20px;
  height: 20px;
}

.scoreBoard .timer {
  border: 1px solid black;
  width: 80px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 3px;
}
.scoreBoard .score {
  border: 1px solid black;
  width: 80px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 3px;
}

.containerBlocks {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 240px;
  flex-flow: wrap;
}

.containerBlocks .block {
  width: 20px;
  height: 20px;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.one {
  background-color: green;
}
.mine {
  background-color: deeppink;
}
.achtung {
  background-color: brown;
}

.gameover {
  background-image: url("./img/gameover.png");
  background-size: cover;
}

.idk {
  background-image: url("./img/idk.png");
  background-size: cover;
}

.smile {
  background-image: url("./img/smile.png");
  background-size: cover;
  width: 100%;
  height: 100%;
}

.winner {
  background-image: url("./img/winner.png");
  background-size: cover;
}

