body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.AppMain {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 240px;
  height: 270px;
  background-color: gainsboro;
}

.scoreBoard {
  padding: 5px;
  width: 240px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.scoreBoard .reset {
  width: 20px;
  height: 20px;
  background-color: darkslategray;
}

.scoreBoard .timer {
  border: 1px solid black;
  width: 80px;
  height: 20px;
}
.scoreBoard .score {
  border: 1px solid black;
  width: 80px;
  height: 20px;
}

.containerBlocks {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 240px;
  flex-flow: wrap;
}

.containerBlocks .block {
  width: 20px;
  height: 20px;
  border: 1px solid black;
}

.one {
  background-color: green;
}
.mine {
  background-color: deeppink;
}
.achtung {
  background-color: brown;
}
